body {
    display: flex;

    height: 100vh;
    overflow: hidden;

    align-items: flex-end;
    justify-content: center;

    background-color: #191719;
}

.video-container {
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
    height: 100vh; /* высота равна 100% высоты экрана */
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#lazy-video {
    width: 100%; /* ширина равна 100% ширины экрана */
    height: 100%; /* высота равна 100% высоты родительского контейнера */
    object-fit: cover;
  }

  #lazy-video::-webkit-media-controls {
    display: none !important;
  }
  
  #lazy-video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  #lazy-video::-webkit-playsinline {
    display: none !important;
  }

  #appleid-signin {
    margin-bottom: 20px;

    display: flex;

    max-width: 375px;
    height: 64px;

    cursor: pointer;
  }
